.body {
  display: flex;
  background-color: white;
  align-items: flex-start;
  justify-content: center;
  background-color: #410694;
  background-image: linear-gradient(19deg, #410694 0%, white 100%);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

app-products-info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
